body {
	font-family: serif;
	color: #4c5257;
	min-height: 100vh;
	flex-direction: column;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: absolute;
	background-attachment: fixed;
  }
    .sidenav {
    height: 100%;
    width: 335px;
    position: absolute;
    z-index: 1;
    top: 114px;
    left: 0;
    background-color: #00ACED;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top : fixed;
}

.sidenav a i:nth-child(2) {
    font-style: normal;
}

/* a */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    display: block;
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 8px;
    padding: 5px;
}

/* span */
.sidenav a span {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    display: block;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 8px;
}


/* label */
.sidenav label {
    margin-left: 40px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.04em;
}


.sidenav label:nth-child(1) {
    margin-top: 200px;
}

.sidenav a:hover {
    color: #33CCCC;
    border-right: 5px solid #33CCCC;
    transition: 0.2s;
    text-decoration: none;
}
/* container */
.container:nth-child(2) {
    
    position: absolute;
    top: 150px;
    left: 401px;
    padding: 30px;
}
.container h2{
    font-family: 'Poppins', sans-serif;
    font-size: bold;
}
.btn{
    right:100px;
}